// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: darkcyan;
}
h1 {
  color: black;
  margin-left: 40px;
}